# This is a basic workflow to help you get started with Actions

name: Test Template Updates

# Controls when the workflow will run
on:
  push:
    branches: ["staging"]
  
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      
      - name: Get changed files
        id: changed-files
        uses: tj-actions/changed-files@v29.0.0
        with:
          files: |
            **/*.html
          separator: ","
          since_last_remote_commit: true
      
      - name: Update templates
        uses: "saurishkar/mailchimp-templates-action@v2.0.7"
        with:
          templateNames: ${{ steps.changed-files.outputs.all_changed_files }}
          mandrill_key: ${{ secrets.mandrill_key }}
