# This is a basic workflow to help you get started with Actions

name: Test Run


# Controls when the workflow will run
on: [workflow_dispatch]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    
    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0  # OR "2" -> To retrieve the preceding commit.

      - name: Get changed files
        id: changed-files
        uses: tj-actions/changed-files@v29.0.0
        with:
          files: |
            **.html
          json: true

      - name: Update Mandrill templates
        uses: "./"
        with:
          templateNames: ${{ steps.changed-files.outputs.all_changed_files }}
          mandrill_key: ${{ secrets.mandrill_key }}
